<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">{{recipe?.title}}</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data text-center">
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <p>{{recipe?.description}}</p>
        <ul class="ingredients-list text-center">
          <li *ngFor="let ingredient of recipe?.ingredients">
            {{ingredient.name}} - {{ingredient.quantity}}
          </li>
        </ul>
        <p>Calories: {{recipe?.calories}}</p>
      </div>
    </div>
  </div>