<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Add Recipe</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data text-center">
        <div class="row">
            <div class="col-xs-12">
              <form [formGroup]="recipeEditForm" (ngSubmit)="onSubmit()">
                <div class="col-xs-12 col-md-12 col-lg-12 pull-right btn-position-save text-end">
                  <button [disabled]='!recipeEditForm.valid' type="submit" class="btn btn-primary me-3 mt-0">Save</button>
                  <button (click)="onCancel()" type="button" class="btn btn-warning mt-0">Cancel</button>
                </div>
                <div class="wrapper mt-3">
                  <div class="row flex-column w-100">
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label class="mt-0" for="title">Title</label>
                          <input formControlName="title" type="text" class="form-control" id="title" placeholder="Title">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label for="imagePath">Image URL</label>
                          <input formControlName="imagePath" type="text" class="form-control" id="imagePath" placeholder="https://www.imagePath">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <img class="img-responsive" src="{{imagePath}}" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label for="description">Desciption</label>
                          <textarea formControlName="description" class="form-control" rows="6" type="text" id="desription" placeholder="Type here ... "></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row flex-column w-100">
                    <div class="col-xs-4">
                      <h3>
                        Ingredients
                      </h3>
                    </div>
                    <div class="col-xs-3 pull-right margin-top btn-position-ing">
                      <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add Ingredient</button>
                    </div>
                    <div class="col-xs-12 margin-top" formArrayName="ingredients">
                      <div class="row" *ngFor="let ingredient of recipeEditForm.get('ingredients').controls;let i = index" [formGroupName]="i">
                        <div class="ingredients-wrapper">
                          <div class="col-xs-8 margin">
                            <!-- <input class="form-control" type="text" formControlName="name"> -->
                            <select formControlName="name" id="name" class="form-control ingredients-name">
                                <option *ngFor="let ingredient of ingredients" class="form-control" [value]="ingredient.id">{{ingredient.name}}</option>
                            </select>
                          </div>
                          <div class="col-xs-2 margin ingredients-quantity">
                            <input class="form-control" type="number" formControlName="quantity">
                          </div>
                        </div>
                        <div class="col-xs-2 margin">
                          <button type="button" class="btn btn-danger" (click)="deleteIngredient(i)">Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                </div>
              </form>
            </div>
          </div>  
      </div>
    </div>
  </div>